body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }

 footer {
    background-color: #e7f0e5;
    color: #073B4C;
    padding: 10px 20px;
  }

  header {
    background-color: #e7f0e5;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo img{
    height: 50px;
  }
  
a {
    text-decoration: none;
    color: rgb(139, 29, 29);
}

a:hover {
    color: #073B4C;
}



hr {
   border: 5px solid #f0f7f0; 
   margin: 0%;
   
}

.expense {
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: space-between;
  }

  .expense-management {
    margin-right: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eff2f3;
    padding: 0px 70px 70px 70px;
    border-radius: 15px;
  }

.sidenav {
    align-self: flex-start;
}

.sidenav-menu{
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item-amount {
  display: flex;
  justify-content: space-between;
}

/*forms*/
.form-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.form-columnsB {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.form {
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*bottom buttons*/
.buttonA {
  text-align: center;
}

.buttonB {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonC {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonD {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonE {
  text-align: center;
}

.buttonF {
  text-align: center;
}
/* Footer */
.footer {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.footer .section-info {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer .social-icons img {
  width: 15px;
}

.social-icons {
  size: 10%;
}


 .button a {
    background-color: #1260f0;
    color: #f5f5f5;
  } 

  .button {
    background-color: #1260f0;
    color: #f5f5f5;
    border-radius: 60px;
    border: none;
    padding: 10px;
    font-weight: bold;
  }

  .payment-sent {
    color: #073B4C;
    padding: 5% 30% 30% 30%;
    text-align: center;
  }