/*#1F6C23 - Green
  #70A750 - Lemon */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #073B4C;
    background-color: #f5f5f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  header {
    padding: 10px 20px;
  } 
  
  footer {
    background-color: #e7f0e5;
    color: #073B4C;
    padding: 10px 20px;
  }
  
  /* Header */

  .logo {
    padding: 10px 50% 30px 50%;
  }
  
  .logo img {
    height: 50px;
  }

  
  /* Main Section */
  .main {
    display: flex;
    padding: 60px;
  }
  
  .image-container img {
    width: 100%;
    height: 110%;
    margin-left: 10%;
  }
  
  .content {
    width: 50%;
    padding: 20px;
    flex: 1;
    margin-left: 50px;
  }
  
  .content h1 {
    font-size: 20px;
  }
  
  .features {
    list-style: none;
    padding: 0;
  }
  
  .features li {
    margin: 10px 0;
  }
  
  .features a {
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  
  .button {
    background-color: #1F6C23;
    color: #f5f5f5;
    border-radius: 60px;
    border: none;
    padding: 10px;
    font-weight: bold;
  }
  
  /* Footer */
  .footer {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  
  .footer .section-info {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .footer .social-icons img {
    width: 15px;
  }

  .social-icons {
    size: 10%;
  }